<footer class="app container-fluid">
    <div class="row">

        <div class="col-lg-12">
            &copy; {{ now|date("Y") }} - AnomalyLabs, Inc.
            <br>
            <a href="#" data-toggle="modal" data-target="#keyboard-shortcuts">
                <i class="fa fa-keyboard-o"></i> {{ trans("theme::admin.shortcuts") }}
            </a>
            <br>
            <br>
            Streams Platform Version {{ config_get("constants.version") }}
        </div>

        <div class="col-lg-12 text-right">
            {{ theme_footprint() }}
            <br>
            {{ theme_pagination() }}
        </div>

    </div>
</footer>