<div class="ui segment basic header">

    <h2 class="ui header">
        {{ trans(module().name) }}
        <span class="sub header">{{ trans(module().description) }}</span>
    </h2>

    <div class="buttons">
        {{ buttons(cp_buttons())|raw }}
    </div>

    {% if cp_sections() %}
        <div class="ui vertical menu large">
            {% for section in cp_sections() %}
                <a class="{{ section.active ? 'active' }} item" {{ html_attributes(section.attributes) }}>
                    {{ trans(section.text) }}
                </a>
            {% endfor %}
        </div>

        <div class="ui primary menu">
            {% for section in cp_sections() %}
                <a class="{{ section.active ? 'active' }} item" {{ html_attributes(section.attributes) }}>
                    {{ trans(section.text) }}
                </a>
            {% endfor %}
        </div>
    {% endif %}

</div>
