<header class="container-fluid" id="header">

    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span id="logo"></span>
            <a class="navbar-brand" href="{{ url('/') }}" target="_blank">Streams</a>
        </div>

        <div class="collapse navbar-collapse" id="header-nav">
            <ul class="nav navbar-nav">
                {% for item in theme_nav() %}
                    {% if item.items %}
                        <li class="{{ item.active ? 'active' }} has-dropdown">
                            <a href="#" data-toggle="dropdown">{{ item.title }}</a>
                            <ul class="dropdown-menu">
                                {% for link in item.items %}
                                    <li class="{{ link.active ? 'active' }}">
                                        <a href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="{{ item.active ? 'active' }}">
                            <a href="{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

            <ul class="nav navbar-nav navbar-right" style="margin-right: -10px;">
                <li class="active">
                    <a href="#" data-toggle="dropdown" style="padding-top: 10px; padding-bottom: 10px;">
                        <img src="https://gravatar.com/avatar/{{ md5(auth_user().email) }}" height="30">
                        &nbsp;&nbsp;{{ auth_user().username }}
                        {{ icon('caret-down')|raw }}
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url_to('admin/logout') }}">
                                {{ icon('sign-out')|raw }} Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

</header>