<header class="ui fixed inverted menu">

    <a href="#" class="launch item">
        <i class="content icon"></i> <span>Menu</span>
    </a>

    <a href="{{ url('/') }}" target="_blank" class="title item">
        <i class="icon home"></i> <span>My Site</span>
    </a>

    <a href="#" class="search item">
        <i class="icon search"></i> <span>Search</span>
    </a>

    <div class="right menu">
        <div class="ui user dropdown item">

            <span>{{ auth_user().display_name ?: auth_user().username }}</span>

            <img src="https://gravatar.com/avatar/{{ md5(auth_user().email) }}" height="24">

            <div class="menu wide">

                <div class="header">
                    <img src="https://gravatar.com/avatar/{{ md5(auth_user().email) }}"
                         class="ui medium circular image">
                    <br>
                    <b>{{ auth_user().email }}</b>
                </div>

                <div class="item">
                    <i class="icon user"></i>
                    Edit Profile
                </div>

                <a href="{{ url('admin/logout') }}" class="item">
                    <i class="icon sign out"></i>
                    Logout
                </a>
            </div>

        </div>
    </div>

</header>