<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width"/>
<meta name="author" content="AI Web Systems, Inc. - Ryan Thompson"/>
<meta name="generator" content="v3"/>

<!-- Facebook Meta Tags -->
<meta property="og:image" content=""/>
<meta property="og:title" content=""/>
<meta property="og:url" content=""/>
<meta property="og:site_name" content=""/>
<meta property="og:type" content="website"/>

<title>Streams</title>

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="{{ image_url('theme::img/favicon.png') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ image_url('theme::img/favicon.png') }}">
<link rel="apple-touch-icon" href="{{ image_url('theme::img/favicon.png') }}"/>

{{ add_asset("theme.css", "theme::less/bootstrap/bootstrap.less") }}
{{ add_asset("theme.css", "theme::less/font-awesome/font-awesome.less") }}
{{ add_asset("theme.css", "theme::less/animate/animate.less") }}
{{ add_asset("theme.css", "theme::less/theme/theme.less") }}
{{ add_asset("theme.css", "theme::less/plugins/select2.less") }} {# Separate for Twig processing #}
{{ add_asset("theme.css", "theme::less/plugins/*") }}

{{ add_asset("theme.js", "theme::js/vendor/jquery-1.11.1.js") }}
{{ add_asset("theme.js", "theme::js/vendor/modernizr.js") }}
{{ add_asset("theme.js", "theme::js/bootstrap/*") }}
{{ add_asset("theme.js", "theme::js/theme/*") }}
{{ add_asset("theme.js", "theme::js/plugins/*") }}

{{ html_style(asset_path("theme.css")) }}
{{ html_script(asset_path("theme.js")) }}

{% for path in asset_paths("streams.css") %}
    {{ html_style(path) }}
{% endfor %}

{% for path in asset_paths("streams.js") %}
    {{ html_script(path) }}
{% endfor %}