<div class="ui vertical inverted sidebar menu left navigation">
    {% for item in theme_nav() %}
        {% if item.items %}
            {% for link in item.items %}
                <a class="item {{ link.active ? 'active' }}" href="{{ link.url }}">
                    <b>{{ link.title }}</b>
                </a>
            {% endfor %}
        {% else %}
            <a class="item {{ item.active ? 'active' }}" href="{{ item.url }}">
                <b>{{ item.title }}</b>
            </a>
        {% endif %}
    {% endfor %}
</div>
