<nav id="navigation">

    <ul>
        <li class="user">
            <div class="media">
                <div class="media-left">
                    <img class="img-circle" src="https://gravatar.com/avatar/{{ md5(auth_user().email) }}">
                </div>
                <div class="media-body">
                    <strong>
                        {{ auth_user().getDisplayName() ?: auth_user().username }}
                    </strong>
                    <ul class="list-inline">
                        <li>
                            <a href="{{ url_to('admin/logout') }}"><i class="fa fa-power-off"></i> Logout</a>
                        </li>
                        <li>
                            <a href="{{ url_to('admin/logout') }}"><i class="fa fa-user"></i> Edit Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>

        {% for module in modules() %}
            <li class="{{ module.active ? 'active' }}">
                <a href="{{ url_to('admin/' ~ module.slug) }}">
                    {{ icon(module.icon) }}
                    <span>{{ trans(module.name) }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>

</nav>
