<section class="container-fluid" id="toolbar">

    <div class="title">
        <a href="{{ url('admin/' ~ module().getSlug()) }}" data-toggle="dropdown">
            {{ trans(module().name()) }}
            {% if sections %}
                <i class="fa fa-lg fa-angle-double-right"></i>
            {% endif %}
        </a>
    </div>


    {% if sections %}
        <ul class="sections nav nav-pills">
            {% for section in sections %}
                <li class="{{ section.active ? 'active' }}">
                    <a {{ html_attributes(section.attributes) }}>
                        {{ trans(section.text) }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="buttons">
        {{ buttons(buttons)|raw }}
    </div>

</section>