<section class="app-toolbar container-fluid">

    <div class="title">
        <a href="{{ url('admin/' ~ get_module().getSlug()) }}" data-toggle="dropdown">
            {{ get_module().name() }}
            <i class="fa fa-lg fa-angle-double-right"></i>
        </a>
    </div>


    {% if theme_sections() %}
        <ul class="sections nav nav-pills">
            {% for item in theme_sections() %}
                <li class="{{ item.active ? 'active' }}">
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}


    {% if theme_actions() %}
        <div class="actions">
            {% for item in theme_actions() %}
                <a href="{{ item.url }}" class="{{ item.class }}">{{ item.title }}</a>
            {% endfor %}
        </div>
    {% endif %}

</section>